---
layout: base.njk
permalink: /pages/wmda/g_groups.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "G Groups"
title: G Groups

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">G Groups</h1>
      <h2 class="text-center text-dark">HLA G Groups</h2>
    </section>
  </div>
</div>
