---
layout: base.njk
permalink: /pages/wmda/p_groups.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "P Groups"
title: P Groups
h1: P Groups
h2: P Codes For Reporting of Ambiguous Allele Typings
---
<div class="container mb-3" style="background-color:red">
https://hla.alleles.org/alleles/p_groups.html
include hyperlinks to the p_groups.txt file
</div>

<div class="container mb-3">
This file contains details of all HLA Sequences having the same antigen binding domains. This analysis is performed on the protein sequence, and for HLA Class I alleles, identity in the 'antigen binding domains' is based on identical protein sequences as encoded by exons 2 and 3. For HLA Class II alleles this is based on identical protein sequences as encoded by exon 2. HLA alleles having nucleotide sequences that encode the same protein sequence for the peptide binding domains (exon 2 and 3 for HLA class I and exon 2 only for HLA class II alleles) will be designated by an upper case ‘P’ which follows the 2 field allele designation of the lowest numbered allele in the group. The group designation will contain a minimum of four digits. A computer readable file of these codes, hla_nom_p.txt, is available to download, please see the WMDA section for further details.
</div>
<div class="container mb-3">
In most genes the exon borders fall within an amino acid codon, with the first base often belonging to one exon and the final two bases to the next. In the P group analysis these incomplete codons are excluded from our analysis. For example, the HLA-A analysis does not include codons 1 and 183, which span the borders of exon 1 and 2 and 3 and 4 respectively.
</div>
<div class="container mb-3">
Alleles that are un-sequenced for a part of the region analysed are still included in the analysis, which is based on the protein sequence present.
</div>