---
layout: base.njk
permalink: /pages/genes/deleted_and_suffix_changes.html
eleventyNavigation:
  parent: "Genes"
  key: "Deleted and Suffix Changes"
title: Deleted and Suffix Changes

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Deleted and Suffix Changes</h1>
      <h2 class="text-center text-dark">Lists showing all the allele names that have been deleted from the official WHO HLA Nomenclature or have had a suffix change</h2>
    </section>
  </div>
</div>
