---
layout: base.njk
permalink: /pages/genes/genes_list.html
eleventyNavigation:
  parent: "Genes"
  key: "Genes List"
title: Genes List

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Genes List</h1>
      <h2 class="text-center text-dark">A Table of Named Genes within the HLA Region</h2>
    </section>
  </div>
</div>
