---
layout: base.njk
permalink: /pages/genes/genes_map.html
eleventyNavigation:
  parent: "Genes"
  key: "Genes Map"
title: Genes Map

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Genes Map</h1>
      <h2 class="text-center text-dark">Location of HLA and HLA-related genes within the HLA region</h2>
    </section>
  </div>
</div>
