---
layout: base.njk
permalink: /pages/genes/genes_map.html
eleventyNavigation:
  parent: "Genes"
  key: "Genes Map"
title: Genes Map
h1: Genes Map
h2: Location of HLA and HLA-related genes within the HLA region
---
