---
layout: base.njk
permalink: /pages/genes/genes_list.html
eleventyNavigation:
  parent: "Genes"
  key: "Genes List"
title: Genes List
h1: Genes List
h2: A Table of Named Genes within the HLA Region
---

      <table class="table table-striped text-left  mb-5" style="width: 100%; max-width: 1400px; margin: 0 auto;">
  <thead>
    <tr>
      <th class="nowrap">Gene</th>
      <th class="nowrap">Previous Equivalent</th>
      <th class="nowrap">Description</th>
      <th class="nowrap">Function</th>
      <th class="nowrap">Refs</th>
    </tr>
  </thead>
  <tbody>
    {% for gene in genes %}
    <tr>
      <td><a href="/pages/genes/gene_pages/{{ gene.gene }}.html">{{ gene.gene }}</a></td>
      <td>{{ gene.previous_equivalent }}</td>
      <td>{{ gene.description }}</td>
      <td>{{ gene.function }}</td>
      <td class="nowrap;"><a href="/pages/genes/gene_refs/{{ gene.gene }}_refs.html">{{ gene.gene }} Refs</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>