---
layout: base.njk
permalink: /pages/genes/genes_list.html
eleventyNavigation:
  parent: "Genes"
  key: "Genes List"
title: Genes List

---

  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Genes List</h1>
      <h3 class="text-center text-dark">A Table of Named Genes within the HLA Region</h3>
    </section>
</div>
<table class="text-center ml-auto mr-auto mb-5">
  <thead>
    <tr>
      <th>Gene</th>
      <th>Description</th>
      <th>Function</th>
    </tr>
  </thead>
  <tbody>
    {% for gene in genes %}
    <tr>
      <td><a href="/pages/genes/gene_pages/{{ gene.gene }}.html">{{ gene.gene }}</a></td>
      <td>{{ gene.description }}</td>
      <td>{{ gene.function }}</td>
      <td><a href="/pages/genes/gene_refs/{{ gene.gene }}_refs.html">{{ gene.gene }}.html</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>