---
layout: base.njk
permalink: /pages/genes/n_and_q_alleles.html
eleventyNavigation:
  parent: "Genes"
  key: "Null and Questionably Expressed Alleles"
title: Null and Questionably Expressed Alleles
h1: Null and Questionably Expressed Alleles
h2: Here are listed all the HLA alleles that have been shown to be either not expressed (Null alleles that have the suffix 'N'), or the alleles that have been shown to be alternatively expressed have the suffix 'L', 'S', 'C', 'A' or 'Q'.
---
