---
layout: base.njk
permalink: /pages/genes/n_and_q_alleles.html
eleventyNavigation:
  parent: "Genes"
  key: "Null and Questionably Expressed Alleles"
title: Null and Questionably Expressed Alleles

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Null and Questionably Expressed Alleles</h1>
      <h2 class="text-center text-dark">Here are listed all the HLA alleles that have been shown to be either not expressed (Null alleles that have the suffix 'N'), or the alleles that have been shown to be alternatively expressed have the suffix 'L', 'S', 'C', 'A' or 'Q'.</h2>
    </section>
  </div>
</div>
