---
layout: base.njk
permalink: /pages/genes/statistics.html
eleventyNavigation:
  parent: "Genes"
  key: "Statistics"
title: Statistics

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Statistics</h1>
      <h2 class="text-center text-dark">Statistics of the HLA database, including current numbers and growth</h2>
    </section>
  </div>
</div>
