---
layout: base.njk
permalink: /pages/antigens/broads_and_splits.html
eleventyNavigation:
  parent: "Antigens"
  key: "Broads and Splits"
title: Broads and Splits

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Broads and Splits</h1>
      <h2 class="text-center text-dark">Broad, Splits and Associated Antigens</h2>
    </section>
  </div>
</div>
