---
layout: base.njk
permalink: /pages/antigens/bw4_bw6.html
eleventyNavigation:
  parent: "Antigens"
  key: "BW4 & BW6"
title: BW4 BW6

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">BW4 & BW6</h1>
      <h2 class="text-center text-dark">Bw4 and Bw6 associated specificities</h2>
    </section>
  </div>
</div>
