---
layout: base.njk
permalink: /pages/antigens/naming_antigens.html
eleventyNavigation:
  parent: "Antigens"
  key: "Naming Antigens"
title: Naming Antigens
h1: Naming Antigens
h2: How HLA Antigens are named
---
