---
layout: base.njk
permalink: /pages/antigens/naming_antigens.html
eleventyNavigation:
  parent: "Antigens"
  key: "Naming Antigens"
title: Naming Antigens

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Naming Antigens</h1>
      <h2 class="text-center text-dark">How HLA Antigens are named</h2>
    </section>
  </div>
</div>
