---
layout: base.njk
permalink: /pages/antigens/previous_equivalents.html
eleventyNavigation:
  parent: "Antigens"
  key: "Previous Equivalents"
title: Previous Equivalents
h1: Previous Equivalents
h2: HLA Antigen Assignments
---
