---
layout: base.njk
permalink: /pages/antigens/previous_equivalents.html
eleventyNavigation:
  parent: "Antigens"
  key: "Previous Equivalents"
title: Previous Equivalents

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Previous Equivalents</h1>
      <h2 class="text-center text-dark">HLA Antigen Assignments</h2>
    </section>
  </div>
</div>
