---
layout: base.njk
permalink: /pages/antigens/recognised_serology.html
eleventyNavigation:
  parent: "Antigens"
  key: "Recognised Serology"
title: Recognised Serology
h1: Recognised Serology
h2: All recognised serological and cellular HLA specificities
---
<div class="container my-4">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="theadblue text-light">
        <tr>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>D</th>
          <th>DR</th>
          <th>DQ</th>
          <th>DP</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A1</td>
          <td>B5</td>
          <td>Cw1</td>
          <td>Dw1</td>
          <td>DR1</td>
          <td>DQ1</td>
          <td>DPw1</td>
        </tr>
        <tr>
          <td>A2</td>
          <td>B7</td>
          <td>Cw2</td>
          <td>Dw2</td>
          <td>DR103</td>
          <td>DQ2</td>
          <td>DPw2</td>
        </tr>
        <tr>
          <td>A203</td>
          <td>B703</td>
          <td>Cw3</td>
          <td>Dw3</td>
          <td>DR2</td>
          <td>DQ3</td>
          <td>DPw3</td>
        </tr>
        <tr>
          <td>A210</td>
          <td>B8</td>
          <td>Cw4</td>
          <td>Dw4</td>
          <td>DR3</td>
          <td>DQ4</td>
          <td>DPw4</td>
        </tr>
        <tr>
          <td>A3</td>
          <td>B12</td>
          <td>Cw5</td>
          <td>Dw5</td>
          <td>DR4</td>
          <td>DQ5(1)</td>
          <td>DPw5</td>
        </tr>
        <tr>
          <td>A9</td>
          <td>B13</td>
          <td>Cw6</td>
          <td>Dw6</td>
          <td>DR5</td>
          <td>DQ6(1)</td>
          <td>DPw6</td>
        </tr>
        <tr>
          <td>A10</td>
          <td>B14</td>
          <td>Cw7</td>
          <td>Dw7</td>
          <td>DR6</td>
          <td>DQ7(3)</td>
          <td></td>
        </tr>
        <tr>
          <td>A11</td>
          <td>B15</td>
          <td>Cw8</td>
          <td>Dw8</td>
          <td>DR7</td>
          <td>DQ8(3)</td>
          <td></td>
        </tr>
        <tr>
          <td>A19</td>
          <td>B16</td>
          <td>Cw9(w3)</td>
          <td>Dw9</td>
          <td>DR8</td>
          <td>DQ9(3)</td>
          <td></td>
        </tr>
        <tr>
          <td>A23(9)</td>
          <td>B17</td>
          <td>Cw10(w3)</td>
          <td>Dw10</td>
          <td>DR9</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A24(9)</td>
          <td>B18</td>
          <td></td>
          <td>Dw11(w7)</td>
          <td>DR10</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A2403</td>
          <td>B21</td>
          <td></td>
          <td>Dw12</td>
          <td>DR11(5)</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A25(10)</td>
          <td>B22</td>
          <td></td>
          <td>Dw13</td>
          <td>DR12(5)</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A26(10)</td>
          <td>B27</td>
          <td></td>
          <td>Dw14</td>
          <td>DR13(6)</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A28</td>
          <td>B2708</td>
          <td></td>
          <td>Dw15</td>
          <td>DR14(6)</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A29(19)</td>
          <td>B35</td>
          <td></td>
          <td>Dw16</td>
          <td>DR1403</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A30(19)</td>
          <td>B37</td>
          <td></td>
          <td>Dw17(w7)</td>
          <td>DR1404</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A31(19)</td>
          <td>B38(16)</td>
          <td></td>
          <td>Dw18(w6)</td>
          <td>DR15(2)</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A32(19)</td>
          <td>B39(16)</td>
          <td></td>
          <td>Dw19(w6)</td>
          <td>DR16(2)</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A33(19)</td>
          <td>B3901</td>
          <td></td>
          <td>Dw20</td>
          <td>DR17(3)</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A34(10)</td>
          <td>B3902</td>
          <td></td>
          <td>Dw21</td>
          <td>DR18(3)</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A36</td>
          <td>B40</td>
          <td></td>
          <td>Dw22</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A43</td>
          <td>B4005</td>
          <td></td>
          <td>Dw23</td>
          <td>DR51</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A66(10)</td>
          <td>B41</td>
          <td></td>
          <td>Dw24</td>
          <td>DR52</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A68(28)</td>
          <td>B42</td>
          <td></td>
          <td>Dw25</td>
          <td>DR53</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A69(28)</td>
          <td>B44(12)</td>
          <td></td>
          <td>Dw26</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A74(19)</td>
          <td>B45(12)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>A80</td>
          <td>B46</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B47</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B48</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B49(21)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B50(21)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B51(5)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B5102</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B5103</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B52(5)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B53</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B54(22)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B55(22)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B56(22)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B57(17)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B58(17)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B59</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B60(40)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B61(40)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B62(15)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B63(15)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B64(14)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B65(14)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B67</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B70</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B71(70)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B72(70)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B73</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B75(15)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B76(15)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B77(15)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B78</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B81</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>B82</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Bw4</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Bw6</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
