---
layout: base.njk
permalink: /pages/antigens/recognised_serology.html
eleventyNavigation:
  parent: "Antigens"
  key: "Recognised Serology"
title: Recognised Serology
h1: Recognised Serology
h2: Listing of all recognised serological and cellular HLA specificities
---
