---
layout: base.njk
permalink: /pages/other/citations.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "Citations"
title: Citations

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Citations</h1>
      <h2 class="text-center text-dark">How to cite the website?</h2>
    </section>
  </div>
</div>
