---
layout: base.njk
permalink: /pages/other/definitions.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "Definitions"
title: Definitions

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Definitions</h1>
      <h2 class="text-center text-dark">Definitions and Standards</h2>
    </section>
  </div>
</div>
