---
layout: base.njk
permalink: /pages/other/drb_haplotypes.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "DRB Haplotypes"
title: DRB Haplotypes
h1: DRB Haplotypes
h2: Common haplotypes for found in DRB
---
