---
layout: base.njk
permalink: /pages/other/drb_haplotypes.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "DRB Haplotypes"
title: DRB Haplotypes

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">DRB Haplotypes</h1>
      <h2 class="text-center text-dark">Common haplotypes for found in DRB</h2>
    </section>
  </div>
</div>
