---
layout: base.njk
permalink: /pages/other/faq.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "FAQ"
title: FAQ

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">FAQ</h1>
      <h2 class="text-center text-dark"></h2>
    </section>
  </div>
</div>
