---
layout: base.njk
permalink: /pages/other/hla_dictionary.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "HLA Dictionary"
title: HLA Dictionary
h1: HLA Dictionary
h2: The HLA Dictionary 2008
---

