---
layout: base.njk
permalink: /pages/other/hla_dictionary.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "HLA Dictionary"
title: HLA Dictionary

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">HLA Dictionary</h1>
      <h2 class="text-center text-dark">The HLA Dictionary 2008</h2>
    </section>
  </div>
</div>
