---
layout: base.njk
permalink: /pages/about.html
eleventyNavigation:
  parent: ""
  key: "About"
title: About

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">About</h1>
      <h2 class="text-center text-dark">Who we are and what we do</h2>
    </section>
  </div>
</div>
