.hlalogo {
	background-color: white;
}

.navbar {
	background-image: linear-gradient(0deg, #0047ab, #013c8e);
}

body {
	background: #ffffff;
}

.headingtext {
height: 50vh;
margin-bottom: -10vh;
}

navbar-background-image {
  background-image: url('/img/full_circle.svg'); /* Replace with your image path */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100px; /* Adjust width as needed */
  opacity: 0.8; /* Adjust opacity as needed */
  pointer-events: none; /* Make the image unclickable */
}

.theadblue {
	background-image: linear-gradient(0deg, #0047ab, #013c8e);
}

.background {
	position: relative;
  padding-top: 10vh;
	z-index: 1; 
}

.background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("/img/A_02_01_01_intronic.svg");
	background-size: 100vh;
	background-repeat: no-repeat;
	opacity: 0.5;
	z-index: -1;
	background-position: center;
}


.landing_key_pages {
	padding-bottom: 20vh;
}

.key_page_cards {
	flex: 0 0 32.333333%;
	max-width: 50%;
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: solid;
	border-color: grey;
	background-color: #ffffff;
	border-radius: 5%;
  opacity: 0.95;
	margin: 1px;
}

.key_page_cards p {
	font-size: medium;
}

.card {
	width: 250px;
	height: 250px;
}

.card-body {
	display: flex;
	align-items: center;
	-ms-flex: 1 1 auto;
	flex: 0 0 auto;
	padding: 1.25rem;
}

.card-img {
	max-width: 40%;
	padding: 5px;
}

h5 {
	font-size: x-large;
}

footer {
	background-image: linear-gradient(180deg, #0047ab, #013c8e);
}

.btn {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.btn:active {
	border: none;
	background-color: transparent;
}
