---
layout: base.njk
permalink: /pages/nomenclature/hla_workshops.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "HLA Workshops"
title: HLA Workshops
h1: HLA Workshops
h2: The Nomenclature Committee has convened at a number of the following International HLA Workshops
---
