---
layout: base.njk
permalink: /pages/nomenclature/hla_workshop.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "HLA Workshop"
title: HLA Workshop

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">HLA Workshop</h1>
      <h2 class="text-center text-dark">The Nomenclature Committee has convened at a number of the following International HLA Workshops:</h2>
    </section>
  </div>
</div>
