---
layout: base.njk
permalink: /pages/nomenclature/naming_alleles.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "Naming Alleles"
title: Naming Alleles
h1: Naming Alleles
h2: How HLA alleles are named using the HLA nomenclature
---
