---
layout: base.njk
permalink: /pages/nomenclature/nomenclature_reports.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "Nomenclature Reports"
  title: Nomenclature Reports
---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Nomenclature Reports</h1>
      <h2 class="text-center text-dark">Nomenclature for Factors of the HLA System</h2>
      <p class="text-center text-dark mt-4">This page details all the previous HLA Nomenclature reports and where possible a link to a freely available PDF of the Tissue Antigens publication has been provided, courtesy of Wiley InterScience, as indicated by the Tissue Antigens cover image. A number of the early reports are also available in PDF format directly from the Bulletin of the World Health Organization website.</p>
    </section>
  </div>
</div>
