---
layout: base.njk
permalink: /pages/nomenclature/nomenclature_committee.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "Nomenclature Committee"
title: Nomenclature Committee

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Nomenclature Committee</h1>
      <h2 class="text-center text-dark">The WHO Nomenclature Committee for Factors of the HLA System comprises the following individuals:</h2>
    </section>
  </div>
</div>
