---
layout: base.njk
permalink: /pages/nomenclature/nomenclature_reports.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "Nomenclature Reports"
title: Nomenclature Reports
h1: Nomenclature Reports
h2: Nomenclature for Factors of the HLA System
---

<p class="text-center text-dark mt-4">This page details all the previous HLA Nomenclature reports and where possible a link to a freely available PDF of the Tissue Antigens publication has been provided, courtesy of Wiley InterScience, as indicated by the Tissue Antigens cover image. A number of the early reports are also available in PDF format directly from the Bulletin of the World Health Organization website.</p>
