---
layout: base.njk
permalink: /pages/nomenclature/nomenclature_updates.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "Nomenclature Updates"
title: Nomenclature Updates

---

<div class="background_naming">
  <div class="welcome d-flex justify-content-center align-items-center" style="height: 50vh">
    <section class="welcome container py-3">
      <h1 class="text-center text-dark">Nomenclature Updates</h1>
      <h2 class="text-center text-dark">Links to all published Nomenclature Updates</h2>
    </section>
  </div>
</div>
