---
layout: base.njk
permalink: /pages/nomenclature/nomenclature_committee.html
eleventyNavigation:
  parent: "Nomenclature"
  key: "Nomenclature Committee"
title: Nomenclature Committee
h1: Nomenclature Committee
h2: The WHO Nomenclature Committee for Factors of the HLA System comprises the following individuals
---
